# Webapp Configuration
OLLAMA_HOST=<host-here>
OLLAMA_MODEL=<model-here>
DB_URL=postgresql+psycopg://alalai:secret@db/alalai

# Postgres DB Docker Container Configuration
POSTGRES_USER=alalai
POSTGRES_PASSWORD=secret
POSTGRES_DB=alalai
